PORT=4000
JWT_SECRET=your_jwt_secret_here

PATIENT_SERVICE_URL=http://localhost:4001
ADMIN_SERVICE_URL=http://localhost:4002
DOCTOR_SERVICE_URL=http://localhost:4003
AI_SERVICE_URL=http://localhost:4004
