PORT=3000
JWT_SECRET=your_jwt_secret_here

PATIENT_SERVICE_URL=http://localhost:3001
ADMIN_SERVICE_URL=http://localhost:3002
DOCTOR_SERVICE_URL=http://localhost:3003
AI_SERVICE_URL=http://localhost:5000
